@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="page-login column grow-xs-1">
    <section class="column column-max center-xs middle-xs grow-xs-1 shrink-xs-0">
        <h2 class="title">@ViewData["Title"]</h2>
        <span>Please check your email to reset your password.</span>
    </section>
</div>