@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="page-login column grow-xs-1">
    <section class="column column-max center-xs middle-xs grow-xs-1 shrink-xs-0">
        <h2 class="title">@ViewData["Title"]</h2>
        <span>Enter your email.</span>
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                @if(Model != null)
                {
                    <span class="text-danger">@Model.Error</span>
                }
            </div>
            <button type="submit" class="button-submit">Submit</button>
        </form>
    </section>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
