@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="page-login column grow-xs-1">
    <section class="column column-max center-xs middle-xs grow-xs-1 shrink-xs-0">
        <h2 class="title">@ViewData["Title"]</h2>
        <p>Your password has been reset. Please <a class="link" asp-action="Login">click here to log in</a>.</p>
    </section>
</div>
