@{
    ViewData["Title"] = "Home";
}

<div class="page-home">

<!-- Home -->
<section id="section-home" class="page-section column center-xs middle-xs">

    <!-- Animated Background -->
    <div class="animated-bg">
        <div class="bg"></div>
        <div class="bg bg1"></div>
        <div class="bg bg2"></div>
    </div>

    <!-- Content -->
    <div class="section-wrapper row">

        <!-- Logo + Motto -->
        <h1 class="motto col-md-7 self-center-xs">
            Bet the Game<br/>
            <strong>Bet on Action!</strong>
        </h1>

        <!-- Devices -->
        <div class="devices-container col-xs col-md-5">
            <img class="boa-phone-1" src="/images/graphics/graphic-boa-1.png" alt=""/>
            <img class="boa-phone-2" src="/images/graphics/graphic-boa-2.png" alt=""/>
        </div>

    </div>

</section>

<!-- Products -->
<section id="section-products" class="page-section column">
    <div class="section-wrapper column middle-xs center-xs">

        <!-- Section title -->
        <h1 class="section-title">Product Suite</h1>

        <!-- Content -->
        <div class="product-container row">
            <div class="product col-xs-12 col-sm-4">
                <img class="product-img" src="/images/graphics/graphic-product-bet.png" alt=""/>
                <p class="product-txt">Gives you the opportunity to bet minute by minute on action by action.</p>
            </div>
            <div class="product col-xs-12 col-sm-4">
                <img class="product-img" src="/images/graphics/graphic-product-pool.png" alt=""/>
                <p class="product-txt">
                    Follow the match action! Make your picks, action by action, conquering
                    your friends &amp; other fans in your quest for the pot.
                </p>
            </div>
            <div class="product col-xs-12 col-sm-4">
                <img class="product-img" src="/images/graphics/graphic-product-jackpot.png" alt=""/>
                <p class="product-txt">
                    Follow the action! Make your picks action by action, ultimately challenging
                    yourself to claim the Grand Jackpot.
                </p>
            </div>
        </div>

    </div>
</section>

<!-- USPs -->
<section id="section-usps" class="page-section row middle-xs">
    <div class="section-wrapper column middle-xs center-xs">

        <!-- Section title -->
        <h1 class="section-title">USPs</h1>

        <!-- Content -->
        <div class="usp-content row">
            <div class="usp-item col-xs-12 col-sm-3">
                <img class="usp-icon" src="/images/icons/icon-engagement.svg" alt=""/>
                <h2 class="usp-title">Engagement</h2>
                <p class="usp-txt">
                    Unparalleled in-game sportsbook experience bringing players closer to the action
                    than you ever believed imaginable.
                </p>
            </div>
            <div class="usp-item col-xs-12 col-sm-6">
                <img class="usp-icon" src="/images/icons/icon-aqusition.svg" alt=""/>
                <h2 class="usp-title">Acquisition</h2>
                <p class="usp-txt">
                    New product offering possibilities from automated real-time odds and bet creation based
                    on Opta and Runniing Ball data feeds.
                </p>
            </div>
            <div class="usp-item col-xs-12 col-sm-3">
                <img class="usp-icon padding-10" src="/images/icons/icon-retention.svg" alt=""/>
                <h2 class="usp-title">Retention</h2>
                <p class="usp-txt">Back office analytics and trading platform optimising targeting</p>
            </div>

            <!-- Second row -->
            <div class="usp-item col-xs-12 col-sm-3">
                <div class="usp-item col-xs-12">
                    <img class="usp-icon padding-5" src="/images/icons/icon-algorithm.svg" alt=""/>
                    <h2 class="usp-title">Algorithms</h2>
                    <p class="usp-txt">Unique player and action based pricing algorithms</p>
                </div>
                <div class="usp-item col-xs-12">
                    <img class="usp-icon padding-5" src="/images/icons/icon-risk-management.svg" alt=""/>
                    <h2 class="usp-title">Risk Management</h2>
                    <p class="usp-txt">Fully managed trading services</p>
                </div>
            </div>

            <div class="usp-item column middle-xs center-xs col-xs-12 col-sm-6">
                <img class="ups-middle-img" src="/images/graphics/graphic-gaming-macbook-boa.png" alt=""/>
            </div>

            <div class="usp-item col-xs-12 col-sm-3">
                <div class="usp-item col-xs-12">
                    <img class="usp-icon padding-10" src="/images/icons/icon-automation.svg" alt=""/>
                    <h2 class="usp-title">Automation</h2>
                    <p class="usp-txt">Highly automated solution requiring limited trading effort</p>
                </div>
                <div class="usp-item col-xs-12">
                    <img class="usp-icon padding-10" src="/images/icons/icon-coverage.svg" alt=""/>
                    <h2 class="usp-title">Coverage</h2>
                    <p class="usp-txt">Extended coverage across all tier one competitions</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Technology -->
<section id="section-technology" class="tech-stack page-section">
    <div class="section-wrapper row middle-xs center-xs">

        <!-- Section title -->
        <h1 class="section-title col-xs-12">Technology Stack</h1>

        <!-- Content -->
        <div class="techs column col-xs-12 col-md-6">
            <div class="tech">
                <img class="logo" src="/images/logos/logo-orleans.png" asp-append-version="true"/>
                <div class="column">
                    <span class="label">Orleans</span>
                    <p class="item">Orleans has been used extensively in Microsoft Azure, most notably as a platform for all of Halo 4 and Halo 5 cloud services.</p>
                    <p class="item">Main advantages: Scalable by Default, Low Latency and Simplified Concurrency.</p>
                </div>
            </div>
            <div class="tech">
                <img class="logo" src="/images/logos/logo-microsoft-azure.svg" asp-append-version="true"/>
                <div class="column">
                    <span class="label">Microsoft Azure</span>
                    <p class="item">Worldwide datacenters across 42 regions.</p>
                    <p class="item">Ability to Scale on Demand and allowing Hybrid Capability.</p>
                </div>
            </div>
            <div class="tech">
                <img class="logo" src="/images/logos/logo-dotnet-core.png" asp-append-version="true"/>
                <div class="column">
                    <span class="label">Dotnet Core</span>
                    <p class="item">Platform Independent.</p>
                    <p class="item">Modern language features.</p>
                    <p class="item">Open Source.</p>
                </div>
            </div>
            <div class="tech">
                <img class="logo" src="/images/logos/logo-ms-sql.png" asp-append-version="true"/>
                <div class="column">
                    <span class="label">Microsoft MS SQL</span>
                    <p class="item">In-database advanced analytics.</p>
                    <p class="item">Proven reliability, security and manageability.</p>
                    <p class="item">State of the art BI Tooling.</p>
                </div>
            </div>
        </div>

        <div class="techs col-xs-12 col-md-6 row center-xs">
            <img class="graphic" src="/images/graphics/graphic-boa-architecture.png" asp-append-version="true"/>
            <img class="poweredby-img" src="/images/logos/logo-genesis-power-black.svg" asp-append-version="true" height="35"/>
        </div>
    </div>

</section>

<!-- Behind the price -->
<section id="section-partners" class="page-section row middle-xs">
    <div class="section-wrapper column middle-xs top-xs">

        <!-- Section title -->
        <h1 class="section-title">Behind the price</h1>

        <!--- Content -->
        <div class="section-content row center-xs middle-xs around-xs grow-xs-1">
            <div class="partner opta col-xs-12 col-sm-6 text-center">
                <img class="logo-opta" src="/images/logos/logo-opta.svg" alt="Opta Logo">
                <h3 class="section-subtitle">World's leading sport data supplier with high definition live data</h3>
            </div>

            <div class="partner runningball col-xs-12 col-sm-6 text-center">
                <img class="logo-runningball" src="/images/logos/logo-running-ball.png" alt="Thynk Gaming Metrics">
                <h3 class="section-subtitle">Fastest and most extensive real-time sports data service</h3>
            </div>
        </div>
    </div>

    <div class="section-footer row around-xs">
        <div class="sport column middle-xs">
            <img class="sport-logo" src="/images/sports/sport-soccer.svg" alt="Soccer"/>
            <span class="sport-name">Soccer</span>
        </div>
        <div class="sport column middle-xs">
            <img class="sport-logo" src="/images/sports/sport-american-football.svg" alt="American Football"/>
            <span class="sport-name">American Football</span>
        </div>
        <div class="sport column middle-xs">
            <img class="sport-logo" src="/images/sports/sport-ice-hockey.svg" alt="Ice Hockey"/>
            <span class="sport-name">Ice Hockey</span>
        </div>
        <div class="sport column middle-xs">
            <img class="sport-logo" src="/images/sports/sport-basketball.svg" alt="Basketball"/>
            <span class="sport-name">Basketball</span>
        </div>
        <div class="sport column middle-xs">
            <img class="sport-logo" src="/images/sports/sport-tennis.svg" alt="Tennis"/>
            <span class="sport-name">Tennis</span>
        </div>
        <div class="sport column middle-xs">
            <img class="sport-logo" src="/images/sports/sport-baseball.svg" alt="Baseball"/>
            <span class="sport-name">Baseball</span>
        </div>
    </div>
</section>

<!-- Integration -->
<section id="section-integration" class="page-section row middle-xs">
    <div class="section-wrapper column middle-xs top-xs">

        <!-- Section title -->
        <h1 class="section-title">Seamless integration to your Platform</h1>

        <!--- Content -->
        <div class="section-content row center-xs grow-xs-1">

            <div class="integration microsite-integration col-xs-12 col-sm-6 text-center">
                <img class="integration-img" src="/images/icons/icon-microsite.svg" alt="Microsite">
                <h2 class="section-subtitle">Microsite</h2>
                <p class="integration-txt">Localised microsite customised to seamlessly fit into existing site</p>
            </div>

            <div class="integration api-integration col-xs-12 col-sm-6 text-center">
                <img class="integration-img" src="/images/icons/icon-api.svg" alt="API">
                <h2 class="section-subtitle">API</h2>
                <p class="integration-txt">Secure RESTful API</p>
            </div>

        </div>

    </div>
</section>

<!-- Contact -->
<section id="section-contact" class="page-section row middle-xs">
    <div class="section-wrapper row middle-xs top-xs">

        <!-- Section title -->
        <h1 class="section-title col-xs-12">Get in touch</h1>

        <p class="section-subtitle">Please submit information and one of our representatives will be in touch shortly.</p>

        <!-- Map -->
        <div id="contact-map" class="col-xs-12 col-md-6"></div>

        <!-- Form -->
        <form id="contact-form" class="form column col-xs-12 col-md-6">

            <!--Full Name-->
            <input id="contact-name" class="field fullname" type="text" placeholder="Name..." required/>

            <!--Email Address-->
            <input id="contact-email" class="field email" type="text" placeholder="Email Address..." required/>

            <!--Phone Number-->
            <input id="contact-company" class="field company" type="text" placeholder="Company..."/>

            <!--Message-->
            <textarea id="contact-message" class="field message" type="text" placeholder="Enter message.."></textarea>

            <div class="row">

                <div class="button-wrap col-xs-6">
                    <!--Clear-->
                    <button id="contact-clear" class="contact-button contact-clear row center-xs">
                        Clear
                    </button>
                </div>

                <div class="button-wrap col-xs-6">
                    <!--Submit-->
                    <button id="contact-send" class="contact-button contact-send row center-xs">
                        Send
                    </button>
                </div>

            </div>

            <span id="contact-send-loader" class="info">Sending...</span>
            <span class="validation-alert"></span>
            <span class="info" id="contact-send-confirm">Thanks for reaching out. We'll get back to you shortly!</span>
        </form>

    </div>
</section>


<script src="~/scripts/contact.js"></script>
<script src="~/scripts/contact-map.js"></script>
</div>