
//Primary Colors
$color-primary: #c8d94d;
$color-secondary: #223150;
$color-white: #ffffff;
$color-black: #000000;

//Typography Colors
$color-typography-primary: #4a4a4a;
$color-typography-secondary: #666666;

//Backgrounds
$color-background-body: #ffffff;
$color-background-sidebar: #313541;
$color-background-product: #009640;
$color-background-section-gray: #fbfbfb;

//Status Colors
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-pending: #e6da38;
$color-warning: #f0ad4e;
$color-danger: #d9534f;
$color-new: #0084DE;
$color-disabled: #b3b3b3;

//Field Colors
$color-field-label: #9e9e9e;
$color-field-foreground: #4a4a4a;
$color-field-placeholder-foreground: #c4c4c4;
$color-field-border: #e6edf1;
$color-field-background: #ffffff;
$color-field-submit-button-background: #009640;

// Other
$color-border: #dddddd;